@import 'variables'

.container
    align-items: center
    display: flex
    gap: $md
    justify-content: center

%dot
    background: $light
    border-radius: 50%
    height: 24px
    width: 24px

$dots: ( One: 0s, Two: 0.3s, Three: 0.6s )

@each $name, $delay in $dots
    .dot#{$name}
        @extend %dot
        animation: anim 1s linear $delay infinite

@keyframes anim
    0%
        box-shadow: 0 0 8px $light
        opacity: 1

    50%, 100%
        opacity: 0.1
