// colors
$light: #f5f5f7
$dark: #000
$gray-1: #8e8e93
$gray-2: #636366
$gray-3: #48484a
$gray-4: #3a3a3c
$gray-5: #2c2c2e
$gray-6: #1c1c1e

// sizes
$xs: 4px
$sm: 8px
$md: 12px
$lg: 16px
$xl: 32px
$xxl: 48px
$hg: 128px

// If backrop-filter not supported (firefox) we make it less transparent 
%blurBackground
    background: rgba($gray-6, 0.8)
    @supports (backdrop-filter: none)
        background: rgba($gray-6, 0.5)
        backdrop-filter: blur(80px)
